<!-- Modal -->
<div class="modal fade person-finder" tabindex="-1" role="dialog" aria-labelledby="personFinderTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-search"></i>Resident Finder</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped tbl-person-finder" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>