@using Microsoft.Extensions.Options
@using Project.Gawad.Application.Options
@inject IOptions<AppConfigOption> AppConfigOption

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @AppConfigOption.Value.AppName</title>
    <link rel="stylesheet" href="~/fontsource/index.css"/>
    <link rel="stylesheet" href="~/overlayscrollbars/overlayscrollbars.min.css"/>
    <link rel="stylesheet" href="~/bootstrap-icons/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="~/adminlte/css/adminlte.css"/>
    <link rel="stylesheet" href="~/app/css/app.css"/>

</head>
<body class="login-page bg-body-secondary">

@RenderBody()

<!--begin::Script-->
<script src="~/overlayscrollbars/overlayscrollbars.browser.es6.min.js"></script>
<script src="~/popper/popper.min.js"></script>
<script src="~/bootstrap/bootstrap.min.js"></script>
<script src="~/adminlte/js/adminlte.js"></script>
<!--end::Script-->

@RenderSection("Scripts", false)

</body>
<!--end::Body-->

</html>