@{
    ViewData["Title"] = "Error";
    ViewData["HeaderTitle"] = "Under Construction";
}

@section StyleSheets
{

}

@section Scripts
{

}


@section NavigationCrumbs
{

}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <div class="row g-2">
                <div class="col-md-10">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h1><i class="bi bi-cone-striped"></i> Oopsie, this feature is still under construction <i
                    class="bi bi-cone-striped"></i></h1>
        </div>
    </div>
</div>