@{
    ViewData["Title"] = "Stocks";
    ViewData["HeaderTitle"] = "Medicine Stocks";
}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Medicine Stocks</h3>
        </div>
        <div class="card-body">
            <p>Stock list view will be implemented here.</p>
        </div>
    </div>
</div>




